@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "מי אנחנו?";
    <script>
        $(document).ready(function () {
            $("#about").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<aside>
<div class="leftimg" style="padding-bottom: 20px;">
    <img src="../Images/anya.jpg" alt="מספרת כלבים" />
</div>
<p>&nbsp;</p>
<div class="callus">
    <!--<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqksbrhfe649ofvslsin4jh6rotdulai0m88qfal75ebj727ukk49o3fmbf8d6qq6ol6g381pj6ccmi7aiuhsfljmp32v3c3hhmteoonb6i8nsnmes2sdaefcatc1vdusbaoe2rpbhdme81arq084rmoi1ga9g7efi&amp;w=190&amp;h=60" width="190" height="60" border="none" ></iframe> -->
    <img src="../Images/dogphone.png" alt="תתקשר לתספורת כלבים" title="לזימון תור: 052-6202562" />
</div>
</aside>
   
<article>
    <p>פאפי קאט הוא סלון יופי וטיפוח לכלבים </p>
<p>המספרה מנוהלת ע"י אניה טימנוביץ מוסמכת ובעלת תעודות והכשרות רלוונטיות.
לאניה ניסיון של 12 שנים בתחום האילוף ורקע בענף הכלבנות בצה"ל, מומחית בעיצוב תספורות ועיצובים לכלבים.
התמחות בתספורות גזע לכל גזעי הכלבים ופיתרונות לבעיות נשירה ובעיות בעור.
מספרת הכלבים מעוצבת במיוחד לכלבלים וחתולים ומאובזרת בציוד החדיש ביותר.</p>
<p>אצלינו הטיפול נעשה באהבה ומקצועיות.</p>

<h2>שאלות נפוצות</h2>
<ol class="round">
    <li class="one">
        <h5>מדוע צריך לספר ולטפח כלבים באופן קבוע?</h5>
        לכלב מסופר לא רק קריר בקיץ, אבל גם חם בחורף. פרוותו תיהיה בריאה יותר ויפה יותר. הכלב שלך לא רק נראה ומרגיש טוב, הוא גם מריח טוב. טיפוח יומיומי הוא גם חשוב לאיתור בעיות שעלולות לדרוש את תשומת הלב של וטרינר (עיניים, אוזניים, עור וכד&#39
	</li>
  
    <li class="two">  	
        <h5>האם הטיפוח כואב לכלב שלי?</h5>
        בוודאי לא לאלה המטופחים באופן קבוע.&nbsp;אני גיליתי שמבחינה רגשית, כלבים נהנים מהשגרה ומתשומת הלב.&nbsp;מבחינה פיזית, זה דומה מאוד לטיפול בשיער שלך.&nbsp;כלבים שהוזנחו בדרך כלל מלאי קשרים ואפילו עם בעיות עור.&nbsp;הוצאת קשרים יכולה להיות כואבת, ובמקרים כאלה אני ממליצה על &quot;תספורת הומנית&quot;. מתח יכול להיות בעיה אמיתית לכלב חסר שגרת טיפול.&nbsp;המטרה שלי היא להפוך את חווית הטיפוח נעים לכלב ולבעלים.&nbsp;
	</li>

    <li class="three">
        <h5>האם את מרדימה?</h5>
        לא, לא, בוודאי שלא!&nbsp;רוב האנשים לא יכולים לדמיין שספרית כלבים יכולה להשתלט על כל כלב וכלב לזמן ארוך מספיק לטיפול יעיל ללא שימוש בשיקויי קסם תוססים.&nbsp;הבנת התנהגות כלב יחד עם כמויות גדולות של סבלנות היא הקסם היחידי שאני מספקת! אין כאן שום סודות.&nbsp;חוץ מזה, כל איש מקצוע יודע מתן תרופה ללא רישיון הוא לא חוקי.&nbsp;
    </li>
</ol>
</article>
