@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "סוגי פרווה";
    <script>
        $(document).ready(function () {
            $("#articles").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<aside>
<div class="callus">
    <!--<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqksbrhfe649ofvslsin4jh6rotdulai0m88qfal75ebj727ukk49o3fmbf8d6qq6ol6g381pj6ccmi7aiuhsfljmp32v3c3hhmteoonb6i8nsnmes2sdaefcatc1vdusbaoe2rpbhdme81arq084rmoi1ga9g7efi&amp;w=190&amp;h=60" width="190" height="60" border="none" ></iframe> -->
    <img src="../Images/dogphone.png" alt="תתקשר לתספורת כלבים" title="לזימון תור: 052-6202562" />
</div>
</aside>

<article>
		<p>
			סוגי פרווה שונים דורשים טיפול שונה, ולכן כדי לספק את הטיפול הטוב ביותר עבור הכלב שלך, תחילה עליך לקבוע איזה סוג של פרווה &nbsp;יש לו. לחץ על הקישורים הבאים לתיאורים ספציפיים של כל סוגי הפרווה ודרישות הטיפוח לכל אחד:</p>
		<ul>
            <li><a href="#smoothfur">פרווה חלקה או משית</a></li>
			<li><a href="#mediumfur">פרווה בינונית</a></li>
			<li><a href="#longfur">פרווה ארוכה</a></li>
			<li><a href="#wirefur">פרווה זיפית</a></li>
			<li><a href="#curlfur">פרווה גלית או מטולטלת</a></li>
		</ul>
		<p>			בנוסף, כלבים עם תכונות פיסיות מסוימות (קפלי עור, אוזני תקליטונים, בעיות שיניים וכו &#39;) צריכים תשומת לב מיוחדת, ולכן לפני שמתחיל חתן, לשים לב לתכונות של הכלב שלך.</p>
		
		<h3 id="smoothfur">פרווה חלקה או משית</h3>
		<p>
			פרווה חלקה היא משית ומבריקה. כלבים עם פרווה חלקה נראים כמעט כאילו שהם מכוסים בעור ולא פרווה. הינה כמה גזעים פופולאריים בעלי פרווה חלקה:</p>
        <img src="../../Images/weimaraner.jpg" alt="ויימרנר" title="ויימרנר" style="float: left; margin: 10px;" />
		<ul>
			<li>באסט האונד</li>
			<li>כלבי ציד</li>
			<li>בוסטון טרייר</li>
			<li>בוקסר</li>
			<li>בולדוג</li>
			<li>דלמטי</li>
			<li>דני ענק</li>
			<li>כלבי רוח</li>
			<li>לברדור רטריבר</li>
			<li>פינצ&#39;ר ננסי</li>
			<li>פאג</li>
			<li>רוטוויילר</li>
			<li>ויימרנר</li>
		</ul>
		<p>
			גזעים חלקים הם חיות מחמד נהדרות לאנשים שאין להם הרבה זמן להקדיש לטיפוח, כי פרווה חלקה קלה לטיפוח. הם בד&quot;כ לא דורשים הרבה מעבר לסירוק איכותי ואמבטיה מזדמנת.</p>
		<p>
			בעוד כלבים חלקים לא צריכים להיות מוברשים בכל יום, צריך להבריש אותם לעתים קרובות ככל שניתן. הברשה כזו מסייעת לשמור את השומן מופץ באופן שווה על פני הפרווה כולה, שומר על הפרווה נקיה משיער נושר ולכלוך. בנוסף, הברשת הכלב היא גם דרך מצוינת ליצור קשר עימו. הוא ייהנה גם מהתחושה של להיות מוברש והעונג לבלות איתך.</p>
		<p>
			הכלי הבסיסי תצטרך לטיפוח פרווה חלקה הוא מברשת זיפים. יש להבריש בכיוון צמיחת השיער. התחל מגב הראש לכיוון הזנב, תוך שימוש בלחץ קל רק כדי לגרות את העור. יש להיזהר במיוחד בעת הברשת הבטן והחלק התחתון של הפרווה החלקה של הכלב שלך.</p>

	<h3 id="mediumfur">פרווה בינונית</h3>
		<p>
			פרווה בינונית היא בד"כ ארוכה מ 2 ס"מ אבל עדיין נראית די קצרה. הינה כמה גזעים פופולאריים בעלי פרווה בינונית:</p>
        <img src="../../Images/Pyrenees.jpg" alt="כלב הרים פירנאי" title="כלב הרים פירנאי" style="float: left; margin: 10px;" />
		<ul>   
			<li>אקיטה</li>
            <li>רועה אוסטרלי</li>
            <li>בורדר קולי</li>
            <li>קבלייר קינג צ'ארלס ספנייל</li>
            <li>רועה גרמני</li>
            <li>גולדן רטריבר</li>
            <li>כלב הרים פירנאי</li>
            <li>סן ברנרד</li>
            <li>האסקי סיבירי</li>
		</ul>
    <p>גזעים בעלי פרווה בינונית הם גם קלים יחסית לטיפוח, הפרווה שלהם בדרך כלל לא מתלכלכת מאוד ולא מפתחת הרבה קשרים. כמה מהגזעים בעלי פרווה בינונית דורשים תספורת מדי פעם על הצוואר, אוזניים, פנים או רגליים, אבל בדרך כלל, הברשה שבועית טובה וטיפוח חודשי מספיקים.
    </p>
    <p>כחלק מפעילות הטיפוח החודשית, יש לעשות לכלב אמבטיה, ולאחר מכן, לוודא שהוא יבש לגמרי. אפשר לתת לו להתיבש באוויר, עם מגבת, או אפילו עם מיבש שיער <u>בחום נמוך</u>.  
    </p>

<h3 id="longfur">פרווה ארוכה</h3>
		<p>ישנם הרבה סוגים של כלבים בעלי פרווה ארוכה ונהוג לחלק אותם לשלוש קטגוריות: פרווה ארוכה ומופרדת, פרווה ארוכה כלבים קטנים, ופרווה ארוכה כלבים גדולים. לכל אחד מהקטגוריות הבדלים קלים בדרך הטיפול והטיפוח.
        </p>
        <img src="../../Images/english_sheeperd.jpg" alt="כלב צאן אנגלי עתיק" title="כלב צאן אנגלי עתיק" style="float: left; margin: 10px;" />
        <h4>פרווה ארוכה ומופרדת</h4>
        <p>כלבים עם פרווה ארוכה מופרדת הם בעלי שיער ארוך המופרד בצורה מאוד ישרה לאורך הגב שלהם. הרבה אנשים אומרים שהפרדה זו בפרווה היא החלק הקשה ביותר של תהליך הטיפוח.<br />
לאחר רחצת את כלב עם רווה ארוכה ומופרדת, יש לנגבו במגבת ולהמשיך ליבש אותו בעזרת מיבש שיער שיישאר חופשי מתסבוכות. ברגע שהפרווה יבשה, עמוד מאחורי הכלב ומקם את קצה המסרק מעל האף. ואז, בתנועה איטית מאוד, סרק בחלק העליון של הראש, במורד הצוואר, וחזרה עד לבסיס הזנב, הזז את השערות לצד הנכון כדי ליצור את ההפרדה כל הדרך. ברגע שההפרדה ישרה לגמרי, לרסס כל הפרווה עם מרכך כדי ליצב אותה. <br />יש רק שמונה גזעים שנופלים בקטגוריה זו:</p>
		<ul>   
			<li>כלב אפגני</li>
            <li>להאסה אפסו</li>
            <li>מלטה</li>
            <li>סקיי טרייר</li>
            <li>השי טס</li>
            <li>טרייר סילקי</li>
            <li>טרייר טיבטי</li>
            <li>יורקשייר טרייר</li>
        </ul>
    
        <h4>כלבים קטנים בעלי פרווה ארוכה</h4>
        <p>שיער של כלב הקטן ארוך פרווה לא נפרד לאורך הגב, אבל עדיין יכול להיות מאתגר למדי לטיפוח. גזעים אלו צריכים להיות מטופחים מדי יום.
לאחר ששטפת את הכלב הקטן שלך באמבטיה, יבש את הפרווה שלו במגבת ולאחר מכן המשך לייבש אותו במיבש שיער למנוע קשרים.
בזמן הייבוש יש להשתמש במברשת סיכות ולהמשיך להבריש ולפתוח קשרים. 
להלן כמה כלבים קטנים ארוכי-פרווה פופולריים:
        </p>
        <ul>   
			<li>סיני מצויץ</li>
            <li>פקינז </li>
            <li>פומרני</li>
        </ul>

        <h4>כלבים גדולים בעלי פרווה ארוכה</h4>
        <p>הטיפול בכלב גדול ארוך פרווה דומה מאוד לטיפול בכלב קטן ארוך פרווה. ההבדל העיקרי שבדרך כלל כלבים אלו מבלים יותר בחוץ, ולכן הם יותר מלוכלכים ויהיו להם יותר קשרים וגושי שיער.
בדומה לכלבים הקטנים, לאחר האמבטיה, יבש את הפרווה שלו במגבת ולאחר מכן המשך לייבש אותו במיבש שיער למנוע קשרים.
בזמן הייבוש יש להשתמש במברשת סיכות ולהמשיך להבריש. יש לוודא שלא נשארים גושים סבוכים, קשרים או לכלוך בפרווה.
להלן כמה כלבים גדולים ארוכי-פרווה פופולריים:
        </p>
        <ul>   
			<li>קולי מזוקן</li>
            <li>צ'או צ'או</li>
            <li>קוקר ספניאל</li>
            <li>סתר אירי</li>
            <li>ניופאונדלנד</li>
            <li>כלב רועים אנגלי עתיק</li>
            <li>סן ברנרד</li>
            <li>סמויד</li>
        </ul>

    <h3 id="wirefur">פרווה זיפית</h3>
    <img src="../../Images/border-t.jpg" alt="בורדר טרייר" title="בורדר טרייר" style="float: left; margin: 10px;" />
		<p>פרווה זיפית (או שבורה) לא אמורה להיות רכה או משית, כמו בפרווה של רוב הכלבים האחרים. פרווה כזאת מטופחת כראוי תיהיה מחוספסת וזיפית. פרווה זיפית לא משירה שיער, מה שהופך חלק בהמינים מהסוג הזה לבחירה מצוינת עבור אנשים הסובלים מאלרגיה לבעלי חיים.
להלן רשימה של כמה גזעים נפוצים בעלי פרווה שזיפית: 
        </p>
            <ul>
                <li>בורדר טרייר</li>
                <li>גריפון</li>
                <li>דנדי דינמונט טרייר</li>
                <li>טרייר אירי</li>
                <li>טרייר סקוטי</li>
                <li>וסט היילנד וייט טרייר</li>
            </ul>
        <p>לכלבים בעלי פרווה זיפית יש יותר קשרים וסבכים בשיער. לכן חשוב להשתמש במרכך טוב. לאחר החפיפה, יש לחפוף פרווה כזו היטב להוציא לכלוך ושיער מת, יש להשתמש במרכך המיועד לשיר זיפי ו/או כזה המיועד לפתיחת קשרים. אפשר גם להשתמש במסרק כלבים למרוח את המרכך עמוק בשיער. יש להשאיר את המרכך על גבי הכלב למשך 3 דקות בערך ורק אחר כך לשתוף אותו היטב. לנגב טוב במגבת (בד'כ תצטרכו יותר מאחת), אפשר גם להשתמש במיבש שיער ברמה הנמוכה.
        </p>

    <h3 id="curlfur">פרווה גלית או מטולטלת</h3>
    <img src="../../Images/poodle.jpg" alt="פודל" title="פודל" style="float: left; margin: 10px;" />
		<p>לסוג זה של פרווה יש הרבה סבכים וקשרים ויש לה נטייה להיות יבשה. לפני סירוק כלב מטולטל, צריך תמיד לרסס אותו עם איזה תרסיס מרכך כדי למנוע שבירה.
בעוד פרווה מטולטלת יכולה להיות קשה לטיפול, זה לא תמיד המקרה. ניסיון לשמור על פרווה מטולטלת מטופחת למופת הוא מאתגר, אך לא בלתי אפשרי. למעשה,  טיפוחו צריך לקחת הרבה פחות זמן ממה שאתה כנראה צופה. ומפגש חודשי עם הספר צריך להיות מספיק. 
דוגמאות של גזעים נפוצים עם פרווה מטולטלת:
        </p>
            <ul>
                <li>בישון פריזה</li>
                <li>פודל</li>
                <li>קומונדור</li>
            </ul>

</article>

<div id="readabout">
 <h4>פרעושים וקרציות - כל מה שרציתם לדעת (ואולי לא) על פרעושים וקרציות</h4>
<p>ישנם יותר מ 2000 סוגים של פרעושים, אבל מספיק אחד כדי לאמלל אותך ואת כלבך.
חיברנו עבורכם שאלות ותשובות בנושא כדי לעזור לכם להלחם בצרה הזו. <a href="flees.cshtml">
<img class="readmore" src="../Images/more.png" alt="קרא עוד על נשירת פרווה" title="קרא/י עוד" /></a>
</p>
</div>