@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "אמבטיה לחתול";
    <script>
        $(document).ready(function () {
            $("#articles").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<aside>
<div class="leftimg" style="padding-bottom: 20px;">
    <img src="../Images/cattowel.jpg" alt="מספרת חתולים" />
</div>
<p>&nbsp;</p>
<div class="callus">
    <!--<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqksbrhfe649ofvslsin4jh6rotdulai0m88qfal75ebj727ukk49o3fmbf8d6qq6ol6g381pj6ccmi7aiuhsfljmp32v3c3hhmteoonb6i8nsnmes2sdaefcatc1vdusbaoe2rpbhdme81arq084rmoi1ga9g7efi&amp;w=190&amp;h=60" width="190" height="60" border="none" ></iframe> -->
    <img src="../Images/dogphone.png" alt="תתקשר לתספורת כלבים" title="לזימון תור: 052-6202562" />
</div>
</aside>


<article>
 <h3>גם חתולים צריכים אמבטיה...לפעמים</h3>
<p>רוב החתולים שונאים מים, כך שזה יכול להפוך את זמן הרחצה לקשה מאוד. כדי לעשות את זה נעים ככל האפשר יש לרחוץ אותו בשלב מוקדם בחייו כדי להרגיל אותו למים ולחווית הרחצה. מכיון שהחתול מסוגל לטפל ברוב צרכי ניקיונו, צריך באמת רק לרחוץ אותו פעם בכמה זמן, כשהוא ממש מלוכלך. כאשר הגיעה זמן לאמבטיה, יש להניח מחצלת או מגבת בתחתית הכיור כדי לשמור על החתול מלהחליק ולגרום לו להרגיש יותר בנוח. למלא כמה סנטימטרים של מים פושרים לתוך הכיור ולהרטיב את החתול. יש לחפוף עם כמות קטנה של שמפו איכותי את גופו, אך להימנע מהכנסת סבון (או מים) לאוזניים, עיניים או אף. לאחר מכן, יש לשטוף היטב את כל פרוותו במים חמים. זה חשוב במיוחד, משום שהחתול בוודאי ישטוף את עצמו אחרי האמבטיה וילקק כל שמפו שנפספס. לאחר השטיפה, יש לעטוף אותו במגבת רכה, ליבש אותו, ויש להרחיק אותו מכל משב רוח עד שהוא יבש לחלוטין.
</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</article>

<div id="readabout" >
 <h3>פרעושים וקרציות - כל מה שרציתם לדעת (ואולי לא) על פרעושים וקרציות</h3>
<p>ישנם יותר מ 2000 סוגים של פרעושים, אבל מספיק אחד כדי לאמלל אותך ואת חתולך.
חיברנו עבורכם שאלות ותשובות בנושא כדי לעזור לכם להלחם בצרה הזו.
<a href="flees.cshtml">
<img class="readmore" src="../Images/more.png" alt="קרא עוד על פרעושים וקרציות" title="קרא/י עוד" /></a>
</p>
</div>

