@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "כתובת המספרה";
    <script>
        $(document).ready(function () {
            $("#contact").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="contact">

    <div style="float: left;">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.il/maps?f=q&amp;source=s_q&amp;hl=iw&amp;geocode=&amp;q=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19,+%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F&amp;aq=0&amp;oq=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19&amp;sll=31.804214,34.784468&amp;sspn=0.348378,0.570602&amp;ie=UTF8&amp;hq=&amp;hnear=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19,+%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F&amp;t=m&amp;ll=31.675882,34.583845&amp;spn=0.025566,0.036478&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.il/maps?f=q&amp;source=embed&amp;hl=iw&amp;geocode=&amp;q=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19,+%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F&amp;aq=0&amp;oq=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19&amp;sll=31.804214,34.784468&amp;sspn=0.348378,0.570602&amp;ie=UTF8&amp;hq=&amp;hnear=%D7%99%D7%94%D7%93%D7%95%D7%AA+%D7%A1%D7%A4%D7%A8%D7%93+19,+%D7%90%D7%A9%D7%A7%D7%9C%D7%95%D7%9F&amp;t=m&amp;ll=31.675882,34.583845&amp;spn=0.025566,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">הצג מפה גדולה יותר</a></small>
       </div>
         <p style="font-size: medium"><b>טלפון: </b> 052-6202562</p>
         <p style="font-size: medium"><b>דוא"ל: </b><a href="mailto:puppy@gmail.com">puppy@gmail.com</a></p>
         <h4>כתובת:</h4>
         <p>
            יהדות ספרד 19,<br />
            שכונת נווה דקלים<br />
            אשקלון 78680<br />
            (ליד בית ספר נווה דקלים)
        </p>
        <p></p>
        <p><a href="waze://?q=יהדות%20ספרד%2019%20אשקלון">פתח כתובת ב Waze</a> (משתמשי iPhone/Android)</p>
</section>