@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "פרעושים וקרציות";
    <script>
        $(document).ready(function () {
            $("#articles").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<aside>
<div class="leftimg" style="padding-bottom: 20px;">
    <img src="../Images/dog2.jpg" alt="מספרת כלבים" />
</div>
<p>&nbsp;</p>
<div class="callus">
    <!--<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqksbrhfe649ofvslsin4jh6rotdulai0m88qfal75ebj727ukk49o3fmbf8d6qq6ol6g381pj6ccmi7aiuhsfljmp32v3c3hhmteoonb6i8nsnmes2sdaefcatc1vdusbaoe2rpbhdme81arq084rmoi1ga9g7efi&amp;w=190&amp;h=60" width="190" height="60" border="none" ></iframe> -->
    <img src="../Images/dogphone.png" alt="תתקשר לתספורת כלבים" title="לזימון תור: 052-6202562" />
</div>
</aside>


<article>
 <h3>כל מה שרציתם לדעת (ואולי לא) על פרעושים וקרציות</h3>
<p>ישנם יותר מ 2000 סוגים של פרעושים, אבל מספיק אחד כדי לאמלל אותך ואת כלבך.
חיברנו עבורכם שאלות ותשובות בנושא כדי לעזור לכם להלחם בצרה הזו.</p>

<strong>איך הכלב שלי קיבל את הפרעושים והקרציות האלו?</strong><br />
<p>חיות נדבקות בפרעושים מחיות אחרות נגועות בפרעושים - כלבים אחרים, חתולי רחוב וכד. חיות נגועות אלו מסתובבות בחצרות ובגינות, הפרעושית נקבה מטילה ביצים כמו ממלחיה ומפזרת אותם בסביבה. הכלב שלך מסותבב בסביבה הזו והפרעושים מתפסים על ענפים ועלים. כאשר הכלב מתחכך (בהליכה למשל) בעלים אלו הפרעושים נתפסים עליו.</p>

<p><strong>האם פרעושים וקרציות יכולות לגרום למחלות אצל הכלב שלי?</strong><br />
לעיתים כלבים וחתולים סובלים מאלרגיה לרוק הפרעושים. הפרעושים יכולים גם להדביק במחלות זיהומיות, אבל זה נדיר יותר.<br />
לגבי קרציות, ישנם כ10-15 סוגי מחלות שיחות מחמד יכולות להידבק בהם מקרציות. חלקם אף מסוכנות ביותר.</p>

<p><strong>האם הרצועות צוואר לטיפול בפרעושים וקרציות בטוחות?</strong><br />
אני ממליצה להתיעץ עם וטרינר, חלק מהרצועות הנמכרות בשוק ללא מרשם מכילות חומרי הדברה. בנוסף, סוגים מסוימים של פרעושים פיתחו התנגדות עבור חומרי הדברה מסוימים כך שגם יעילותם בספק.</p>

<p><strong>מה הדרך הטובה ביותר להילחם בפרעושים וקרציות?</strong><br />
מלבד תכשירים כימיים מסוגים שונים. יש לנסות למנוע מהכלבים או החתולים להסתובב בחוץ באזורים עם עשבים וצמחיה גבוהה.</p>

<p><strong>האם יש דרך טבעית לטפל בבעיה?</strong><br />
מומחים רבים טוענים שאין פתרון טבעי ויעיל לפרעושים וקרציות, נסינות לטיפול באמצעות שום, ושמרים לא מראים תוצאות</p>
</article>

<div id="readabout">
    <h4>הפרווה נושרת?</h4>
לכלבים וחתולים נושרת הפרווה כל השנה.יש תקופות שהפרווה נושרת בצורה מסיבית יותר.
ישנם גזעים שפרוותם נושרת פעמיים בשנה בעונות המעבר, אביב וסתיו. ויש גזעים שפרוותם נושרת באותה הצורה במשך כל השנה.
לכלבים סוגי פרוות שונות: חלקה, מתולתלת, ארוכה, משית, זיפית, כפולה, וצפופה.<a href="breeds.cshtml"><img class="readmore" src="../Images/more.png" alt="קרא עוד על נשירת פרווה" title="קרא/י עוד" /></a>
</div>

